body {
    font-family: system-ui;
    background: #0000ff;
    color: white;
    text-align: center;
  }
  #image1
  { 
    width:450px;
  height:450px; 
  }
  #reason1
  { 
    font-size:50px;
  }
  #reason2
  { 
    font-size:50px;
  }
  #image2
  {
    width:450px;
    height:450px;
  }